<h1>String Calculator</h1>
<%= form_with url: "/calculate", method: :post, local: true do %>
  <%= label_tag :input, "Enter numbers:" %><br>
  <%= text_area_tag :input, params[:input], rows: 4, cols: 50 %><br><br>
  <%= submit_tag "Calculate" %>
<% end %>
<% puts  @result.nil?%>
<% puts @result%>
<% if @result %>
  <h2>Result: <%= @result %></h2>
<% end %>
<% if @error %>
  <h2 style="color: red;">Error: <%= @error %></h2>
<% end %>
